Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.a
*.la
*.gmo
*~
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
libzypp.pc
libzypp.spec
devel/genclass
doc/autodoc/Doxyfile
po/POTFILES
po/zypp.pot
package/zypp-*.tar.bz2
